# Rewriting a reduced dataset

In [4]:
import pandas as pd
import os
import gc
import numpy as np

## Exploring the sample dataframe

In [1]:
import sys
from pathlib import Path

# Adding the project root for module imports
project_root = Path().resolve().parents[1]
sys.path.append(str(project_root))

from attendee_profiling import config

In [2]:
INPUT_PATH = config.INPUT_PATH
PROCESSED_PATH = config.PROCESSED_PATH

Assigning the path to read the files:

In [5]:
path_locations = os.path.join(INPUT_PATH, "wifi_traces_anonymized", "sonar_mod")

Assigning the path to write the files:

In [7]:
path_locations_reduced = os.path.join(PROCESSED_PATH, "wifi_traces_reduced")
print(f'Writing files in: "{os.path.abspath(path_locations_reduced)}"')

Writing files in: "C:\Camilo\Estudio\Padova\Master thesis\Datasets\Processed\wifi_traces_reduced"

Reading a sample file. To optimize operations when reading the complete set of files, I will use a dask dataframe, which operates lazily. To help querying the dataframe in the end, an initial sample file is read and its metadata (column names and types) is passed to the dask dataframe.

In [3]:
# Load the single file into a pandas DataFrame
sample_df = pd.read_json(os.path.join(path_locations, 'anonymized_sonar_1718192117391157295_1718192602990134857.ndjson'),
                          lines=True)

# Visualizing some examples
sample_df.head(5)

,cell,cell_coordinates,client_coordinates,client_ipaddr,client_latitude,client_longitude,client_roll,client_username,client_xy_coordinates,confidence_factor,...,rssi,rssi_category,timestamp,visit_id,wdp_floor_id,zone_levels,zones_id,anonymized_macaddr,macaddr_randomized,vendor_name
0,4291204580560,"41.37343701985534,2.152411182412531","41.37357791098885,2.1525216172600397",10.93.131.17,41.373578,2.152522,NaN,None,"112,169.7",64.0,...,-62.0,poor,2024-06-12 11:35:07,visit-2878931198025351461,44bbfdef-41d8-421a-8775-b742a89f9136,[000Y.001E.001F],[f10d8100-ef6d-468b-acc4-09f8497cac7c],eb9a3a265d543758733d0631ff3298f02441b2bb1784bb...,1,None
1,4274804578820,"41.35761937221511,2.1330101228060645","41.35762750175618,2.1330771403851623",10.33.8.201,41.357628,2.133077,NaN,None,"333.2,232.2",40.0,...,-72.0,poor,2024-06-12 11:35:07,visit-6108473270290434404,11e594cf-47f5-47ea-9804-557e86ad7422,[],None,c71cffdc6b97dfee060558bf0bf381075b34ff0a9eb277...,1,None
2,4290404580540,"41.37324983687884,2.151456977505442","41.37335865635241,2.1516626585456895",10.93.131.38,41.373359,2.151663,NaN,None,"358.9,203.9",128.0,...,-87.0,poor,2024-06-12 11:35:07,visit-5034339734903319000,44bbfdef-41d8-421a-8775-b742a89f9136,[000Y.001E.001F],[f10d8100-ef6d-468b-acc4-09f8497cac7c],e2c4b71b708e80e715a2b6c725ca93bff81d28afce5943...,1,None
3,4278404578660,"41.356210648244144,2.137332548745098","41.35635670490924,2.1374764349553788",None,41.356357,2.137476,NaN,None,"101.5,88.2",32.0,...,-76.0,poor,2024-06-12 11:35:07,visit--1,bcb6b78f-200c-4bc8-93f2-fb06b4e0f31e,[],None,9955eaf4f0b351518f737625d6f9a815cb0120e51a5abe...,0,Intel Corporate
4,4275204578720,"41.35672230896424,2.1335002237455507","41.35675194450287,2.1337217515382854",10.33.18.6,41.356752,2.133722,NaN,None,"700,221.7",32.0,...,-67.0,poor,2024-06-12 11:35:07,visit-6964548436626391338,11e594cf-47f5-47ea-9804-557e86ad7422,[],None,926d4c8781e7242ad78682b94b2d1909df338782226ec9...,1,None

In [4]:
sample_df.dtypes

cell                              int64
cell_coordinates                 object
client_coordinates               object
client_ipaddr                    object
client_latitude                 float64
client_longitude                float64
client_roll                     float64
client_username                  object
client_xy_coordinates            object
confidence_factor               float64
device_id                        object
device_level                     object
event_source                     object
event_type                       object
floor_id                         object
floor_number                    float64
floorplans_id                    object
h3_cell                          object
h3_resolution                     int64
last_seen                         int64
layout_id                        object
location_id                      object
name                             object
parent                          float64
path                             object
rssi                            float64
rssi_category                    object
timestamp                datetime64[ns]
visit_id                         object
wdp_floor_id                     object
zone_levels                      object
zones_id                         object
anonymized_macaddr               object
macaddr_randomized                int64
vendor_name                      object
dtype: object

In [5]:
type(sample_df['path'][0])

list

In [6]:
sample_df.shape

(100000, 35)

In [7]:
# Description of numerical columns
sample_df.describe()

,cell,client_latitude,client_longitude,client_roll,confidence_factor,floor_number,h3_resolution,last_seen,parent,rssi,timestamp,macaddr_randomized
count,1.000000e+05,100000.000000,100000.000000,0.0,98751.000000,44651.000000,100000.0,1.000000e+05,0.0,88180.000000,100000,100000.000000
mean,4.278820e+12,41.359959,2.137896,NaN,58.640419,1.352400,13.0,1.718192e+09,NaN,-66.590395,2024-06-12 11:39:06.771930112,0.712550
min,4.270205e+12,41.352517,2.127706,NaN,16.000000,-1.000000,13.0,1.718192e+09,NaN,-99.000000,2024-06-12 11:35:07,0.000000
25%,4.274805e+12,41.355878,2.133171,NaN,32.000000,1.000000,13.0,1.718192e+09,NaN,-74.000000,2024-06-12 11:36:58,0.000000
50%,4.277005e+12,41.356652,2.135812,NaN,48.000000,1.000000,13.0,1.718192e+09,NaN,-68.000000,2024-06-12 11:39:01,1.000000
75%,4.278405e+12,41.357601,2.137349,NaN,64.000000,2.000000,13.0,1.718192e+09,NaN,-61.000000,2024-06-12 11:41:12,1.000000
max,4.292605e+12,41.375206,2.154095,NaN,664.000000,3.000000,13.0,1.718193e+09,NaN,-15.000000,2024-06-12 11:43:22,1.000000
std,6.086304e+09,0.007179,0.007187,NaN,47.359395,0.756902,0.0,1.561842e+02,NaN,11.215159,NaN,0.452575

In [8]:
# Description of the non-numerical columns

# Get value counts for categorical columns
categorical_cols = ['event_source', 'event_type', 'floor_id', 'floorplans_id', 'h3_cell',
                    'layout_id', 'location_id', 'name', 'path', 'rssi_category', 'visit_id',
                    'wdp_floor_id', 'zone_levels', 'zones_id', 'anonymized_macaddr']

value_counts = {col: sample_df[col].value_counts() for col in categorical_cols}



# Print the value counts for each categorical column
for col, counts in value_counts.items():
    print(f"Value counts for column '{col}':\n{counts}\n")

Value counts for column 'event_source':
event_source
firehose    100000
Name: count, dtype: int64

Value counts for column 'event_type':
event_type
location    100000
Name: count, dtype: int64

Value counts for column 'floor_id':
floor_id
33250810-f622-4cf2-8d9a-f2c8e4aab278    26565
b33abe51-bb05-4f89-b4cb-5fc118865060    24946
4cc5e3bd-824b-46ed-9fdd-d5cd6177f4e8    12288
f5c592fe-a2e3-4ea2-a33d-d1b9da9a2b3b     7764
c5e72fa1-afca-4cb5-93cd-9612f9224b5c     4115
77e71e68-9af6-4348-9499-1d9e8c351210     2845
85b717ec-19ba-4d94-b4de-719389a34774     2482
0bacd607-4412-4ed6-96e3-43e794b4f44e     2269
1128741d-8d5e-41f8-a74b-e27f8a951a3c     1924
855aea98-26aa-4dbc-8d79-19e80d1ef37a     1735
692e863f-2c8e-438d-9179-2561d2288ba5     1672
a459e046-6a71-4f16-9b78-ee4810d9132c     1207
920edd56-5f1e-42c3-9254-435775377443     1164
5d36acae-f42a-46dc-b9d3-8cb745fc1345     1142
be5415cb-77c3-4cac-a697-fc7a4525ca40     1097
68d9ab9b-23e4-487c-97dc-b4388aceff3e     1078
64141cdf-8e19-40aa-b536-6b89a43a4520      968
38323f02-ffe2-45f0-b366-2b69f7938966      784
872465f3-31c2-45d7-9070-946412b73796      639
daa2869c-af19-4dc1-a45f-89a6381d0484      430
16095bbf-96ee-4352-9f42-3f44f8d05f37      427
f62cb394-ac59-4758-8e96-67091e7ef243      392
f6eefd7f-1653-448a-b2c2-7793225eb665      359
f82b4d80-4235-4e59-bdbb-05c6c6518a31      256
966ea00e-2788-4e6e-841a-a1c11695c345      250
c3e8a1de-fdae-4a15-8beb-311fee0b79f1      236
b8dbaf5e-0e36-4123-a3e5-5e7c023bf9fb      179
c07ae4f5-ccf1-44f9-abf5-2a183de94087      169
c561b427-e6ae-498e-a37e-c5d50b3a67d3      154
06ceb35e-0330-4989-93c3-3638ca7eed3c      122
f092efd3-5ba0-4a4d-98bc-1c74f482c5a2      107
bc0bd592-88a5-4074-95e3-f34786ee1aa7       84
970a99a4-4587-4bc2-82ae-8b2331da0fd6       81
77532617-4747-4c71-9264-e0943752d03c       47
22e04735-7f5a-4337-91a2-f5d86b4d3860       23
Name: count, dtype: int64

Value counts for column 'floorplans_id':
floorplans_id
[c7909659-fb3c-4f6f-92d8-3f3b4aa615c5]    5258
[44bbfdef-41d8-421a-8775-b742a89f9136]    1071
[eae0fae9-c3bc-4f92-960b-62e8f636f157]     956
[5d191673-ad9c-4bff-99c9-bbe20754c052]     439
[28ed4bad-c5c4-4a0b-ab34-632dba601c08]     222
[c21b70d1-cc70-4329-a28a-961373d7b4d4]     195
[3e442b96-45fb-41c6-b6bf-96e4da3faa0e]     183
[a43ed5fe-fbae-4334-b688-5066b1d2fcc4]     135
[dcfc57d2-8a12-4297-8d64-0d6f471849be]     135
[a7489b85-de17-4481-941f-fc2e8c87a437]     126
[fe620ba0-3e21-4c9e-9259-8c78ff72ebd3]      39
Name: count, dtype: int64

Value counts for column 'h3_cell':
h3_cell
8d394461c4a317f    970
8d394461ca2ba7f    670
8d394461eb2d2ff    542
8d394461ca2bb7f    530
8d394461ca70c3f    511
                  ...
8d394461c4b677f      1
8d394461ca6e63f      1
8d394461e956d7f      1
8d394461ca6e2bf      1
8d394461ca468ff      1
Name: count, Length: 2555, dtype: int64

Value counts for column 'layout_id':
layout_id
[4c22daee-d103-44ca-83ae-4065e5035d31]    5258
[f334f6f3-05c5-4140-a185-b335abd3f9c4]    1071
[5120c123-7d01-4c88-aeab-af70d4fc75fc]     956
[60a2fa4f-ae13-45b3-9ce7-0e47b610236f]     439
[2625c476-1cfb-4f4c-b807-86483cd5983b]     222
[949eed99-864c-4839-8177-d775611c6189]     195
[4d88637d-8539-4af5-aab8-5b87cc358c9e]     183
[a935ca75-c0d5-4b81-8640-24a248392760]     135
[1d65687a-6222-461c-9e4b-619977f8af39]     135
[f9ce289e-b506-4fbc-81a4-76bf39a7a98a]     126
[e9ff94f1-6466-42a6-92b7-f0037f2364d9]      39
Name: count, dtype: int64

Value counts for column 'location_id':
location_id
location-e5489c8c    26565
location-2bab7886    24946
location-bef98038    12288
location-800f38e4     7764
location-4d326e20     4115
location-9b2b32c1     2845
location-a09061e8     2482
location-cf617151     2269
location-728317b      1924
location-8f5d4204     1735
location-97c974dc     1672
location-8b38620d     1207
location-e3751b1b     1164
location-17772142     1142
location-1e43700b     1097
location-100b2f0f     1078
location-aff38b17      968
location-c14142a8      784
location-e9bd22f9      639
location-dae70d2e      430
location-52fa3e39      427
location-23721225      392
location-9d5277cf      359
location-14747c1       256
location-83bbd948      250
location-84366ac4      236
location-8f30d01c      179
location-8928c039      169
location-198fa09d      154
location-ddc117fc      122
location-3491a030      107
location-253d94f7       84
location-c2dc19ab       81
location-c4c81f24       47
location-fb204f7a       23
Name: count, dtype: int64

Value counts for column 'name':
name
Ground Floor                  48725
First Floor                   26565
Oficinas primera planta_v2     7764
Oficinas segunda planta_v2     4115
Espina 7 - 8                   2482
Oficinas planta baja_v2        1735
Espina 57- 46                  1207
Pl Univers                     1164
Exhibition Level -1            1142
Bajo Espino y CC7              1078
Exhibition Level 0              968
MJ 7                            784
Medusa planta baja              427
Nivel 1                         392
CC2 Segunda planta              250
avenia 3 4 DNA                  236
Nivel 2                         179
AGORA                           169
CC1                             154
Avenida 2 3                     122
CC3 entrada                     107
Avenida 1-2                      84
EMR                              81
Oficinas primer nivel            47
Italian Pavilion                 23
Name: count, dtype: int64

Value counts for column 'path':
path
[0000.0002.0003.000g.000u.000z.]             26565
[0000.0002.0003.000g.000s.000t.]             24946
[0000.0002.0003.000g.000p.001i.]             12288
[0000.0002.0003.000S.000U.001e.]              4115
[0000.0002.0003.000g.000u.000v.]              2845
[0000.0002.0003.000S.000U.001d.]              2506
[0000.0002.0003.000g.000E.000R.]              2482
[0000.0002.0003.000S.000U.001d.001o.001q]     2153
[0000.0002.0003.000g.000h.000m.]              2134
[0000.0002.0003.000g.000q.000r.]              1924
[0000.0002.0003.000S.000U.001b.]              1735
[0000.0002.0003.000S.000U.001d.001o.001r]     1438
[0000.0002.0003.000S.000U.001d.001o.001p]     1315
[0000.0002.0003.000g.000E.000Q.]              1207
[0000.0002.0003.000S.0011.0012.]              1142
[0000.0002.0003.000g.000E.000F.]              1078
[0000.0002.0003.000g.000i.000l.]               971
[0000.0002.0003.000S.000X.000Y.001E.001F]      955
[0000.0002.0003.000S.000V.000W.001J.001K]      811
[0000.0002.0003.000S.0018.0019.]               784
[0000.0002.0003.000S.000V.000W.]               716
[0000.0002.0003.000S.0014.0015.]               639
[0000.0002.0003.000S.0011.0013.]               529
[0000.0002.0003.000g.000w.000y.]               427
[0000.0002.0003.000g.000n.000o.]               359
[0000.0002.0003.000S.000U.001d.001o.001s]      352
[0000.0002.0003.000S.0011.0013.001O.001P]      290
[0000.0002.0003.000g.000j.000k.]               256
[0000.0002.0003.000g.000I.000J.]               250
[0000.0002.0003.000S.000U.000T.]               235
[0000.0002.0003.000g.001o.001A.001B.001C]      222
[0000.0002.0003.000S.0011.001f.]               209
[0000.0002.0003.000S.000U.000T.001H.001I]      195
[0000.0002.0003.000S.0011.001f.001T.001U]      183
[0000.0002.0003.000S.000Z.0010.]               169
[0000.0002.0003.000g.000G.000H.]               154
[0000.0002.0003.000S.0011.0013.001O.001Q]      149
[0000.0002.0003.000S.0011.001a.001R.001S]      135
[0000.0002.0003.000g.000h.000m.001r.001y]      130
[0000.0002.0003.000g.000i.000l.001s.001v]      126
[0000.0002.0003.000S.000X.000Y.001E.001G]      116
[0000.0002.0003.000g.000K.000L.]               107
[0000.0002.0003.000S.000X.000Y.]                93
[0000.0002.0003.000g.000A.000B.]                84
[0000.0002.0003.000g.000C.000D.]                83
[0000.0002.0003.000S.000V.000W.001J.001N]       82
[0000.0002.0003.000g.000i.000P.]                81
[0000.0002.0003.000S.000V.000W.001J.001L]       54
[0000.0002.0003.000S.0014.001c.]                47
[0000.0002.0003.000S.0011.001a.]                44
[0000.0002.0003.000g.000C.000D.001q.001w]       39
[0000.0002.0003.000S.0016.0017.]                23
[0000.0002.0003.000g.001o.001A.]                14
[0000.0002.0003.000S.000V.000W.001J.001M]        9
[0000.0002.0003.000g.000h.000m.001r.001x]        5
Name: count, dtype: int64

Value counts for column 'rssi_category':
rssi_category
poor         87894
excellent      286
Name: count, dtype: int64

Value counts for column 'visit_id':
visit_id
visit--1                     19419
visit-2878931198025351461        1
visit-8223033808631110588        1
visit-9148625026201863268        1
visit-9148625027730054077        1
                             ...
visit-6333073046445064825        1
visit-7940095468009105689        1
visit-4795267573665179930        1
visit-5085724901675270777        1
visit-8548297057777645019        1
Name: count, Length: 80582, dtype: int64

Value counts for column 'wdp_floor_id':
wdp_floor_id
bcb6b78f-200c-4bc8-93f2-fb06b4e0f31e    26565
11e594cf-47f5-47ea-9804-557e86ad7422    24946
c6f13d53-164b-47a5-890e-8c7331389100    12288
c7909659-fb3c-4f6f-92d8-3f3b4aa615c5     7764
ff08acfe-5bc2-49ce-8f65-7a97b392998b     4115
774f5078-1fa2-4441-928a-781f6ba46779     2845
f4993c40-752d-42e8-af5d-a6cbaafac48a     2482
a43ed5fe-fbae-4334-b688-5066b1d2fcc4     2269
d33796f2-f9ba-4b7e-843b-168fcdc8b440     1924
da0d07d0-b1fd-43f2-a25f-c988e616c19e     1735
eae0fae9-c3bc-4f92-960b-62e8f636f157     1672
9490b0a8-f084-436e-ada4-3ce9ecb40130     1207
44bbfdef-41d8-421a-8775-b742a89f9136     1164
a2d0db29-b2dd-449d-a43c-38e1b7666b04     1142
a7489b85-de17-4481-941f-fc2e8c87a437     1097
c7acb74c-596c-483c-8fcf-2885ad7fe60d     1078
5d191673-ad9c-4bff-99c9-bbe20754c052      968
3303083e-0c67-463d-9a8e-5f3ec5b84f6c      784
058877d5-f3a2-4d46-b6d9-e9f4b6827dd7      639
c21b70d1-cc70-4329-a28a-961373d7b4d4      430
43ab5b06-310c-4087-8a05-ca6363e7ba6d      427
3e442b96-45fb-41c6-b6bf-96e4da3faa0e      392
62166e3a-77da-41d8-9ade-f92cf80babab      359
bf4b2dd0-5ab2-49f0-89f7-c296b6269395      256
d3d8c5ec-bf21-4393-b6ea-fe04d739666c      250
28ed4bad-c5c4-4a0b-ab34-632dba601c08      236
dcfc57d2-8a12-4297-8d64-0d6f471849be      179
6957bbfa-425f-420c-87e2-2480ce61809a      169
4d1cc451-1b25-4d23-b81a-7828e3357a42      154
fe620ba0-3e21-4c9e-9259-8c78ff72ebd3      122
4f94aa7e-a4aa-40ea-9423-3a698216037e      107
1d8a9268-e902-44ea-8647-1ec82c94b3bb       84
2d640354-4f7d-489c-8c3d-5d41df421c7e       81
97d4789c-9222-4576-8253-c774f682264f       47
fbc616a0-80c9-4407-8b20-3329b38e18fb       23
Name: count, dtype: int64

Value counts for column 'zone_levels':
zone_levels
[]                  91241
[001d.001o.001q]     2153
[001d.001o.001r]     1438
[001d.001o.001p]     1315
[000Y.001E.001F]      955
[000W.001J.001K]      811
[001d.001o.001s]      352
[0013.001O.001P]      290
[001A.001B.001C]      222
[000T.001H.001I]      195
[001f.001T.001U]      183
[0013.001O.001Q]      149
[001a.001R.001S]      135
[000m.001r.001y]      130
[000l.001s.001v]      126
[000Y.001E.001G]      116
[000W.001J.001N]       82
[000W.001J.001L]       54
[000D.001q.001w]       39
[000W.001J.001M]        9
[000m.001r.001x]        5
Name: count, dtype: int64

Value counts for column 'zones_id':
zones_id
[eceeaed3-8ff2-49d9-ba8b-6343a9b51bf7]    2153
[4fb6ad54-dd43-4b0b-9a12-7557780c8354]    1438
[b70463af-4540-46ea-8a39-062650b24d5a]    1315
[f10d8100-ef6d-468b-acc4-09f8497cac7c]     955
[aa598ed7-0b28-444d-8564-b434e0e34b82]     811
[7b070d0e-9126-4140-8bc8-a3857bb8df79]     352
[749e951a-1adb-43b8-b061-a3e382f30a70]     290
[d37d093f-f120-4a94-a4b4-696c80cb6b53]     222
[88259806-b543-45e9-b0e9-87b0ac826ce6]     195
[92e4ce9c-ae60-4960-a7a2-4d27def850bc]     183
[ccca956a-63a3-4585-b4ce-c85ffbb4af2f]     149
[91dccca1-6ac3-462e-a1c7-3aaccd46cc7f]     135
[4f63f6f5-19bc-4c5e-8219-457d5dfbe7f8]     130
[b07ccc20-f501-46ea-8abb-e9a7d8db6669]     126
[0e9222e8-38be-49bf-bbdd-46a37ce4a899]     116
[a03c6c6f-b506-4915-bf7f-fc609b2e20e9]      82
[cfcf08c7-1230-4df9-9309-6ef436090d99]      54
[4c1256b9-b59d-43fa-8771-5ea30046fe5d]      39
[97acc96a-1160-456d-abe7-4046ec78fc41]       9
[d1254b73-5637-4c7f-bf90-b2259c4fa4aa]       5
Name: count, dtype: int64

Value counts for column 'anonymized_macaddr':
anonymized_macaddr
d4e801425b22bc73eb6578ab6bb14fe0196866cc8374d4f298ea6715bf4d06e1    474
c9746a0417fad68ac993c0ebec2732df72ef9112c1d163a485c535d2b27c1c00    356
f026425bd2d20ad97f4dcb653c94a49051da5c39e0cb9e397f1a74f1aea42a37    338
6f4b8165d57b6cb33b8116dfb50036c82bb7f342ce92a2c0317d86ea00708adc    232
3d7427ac535210df5eac9203b7b5f3272a078a9024dd768592c49fc3a33865bb    230
                                                                   ...
26ac76fb48e2266f9b47337336e1b36741a01c15a0fddd57f1b3fc2bba0df1ce      1
6db514c7a0a0b46b7c3b6d3ffebd72851ec8a650f03bae510dfb0fe2be1c8e6e      1
3a9a581e99bf95001f6ebdc834110bf77ac972457a92c96b1f24f26bc5901030      1
d143be6e63e876deda568d2e2cd06fd329b6da13d5f8bb58605fd4e6afbf758c      1
575dd682aab57a8cddde52fb74ebe63a83b9fcd9ff316dbfd9cddf48cfd53b2b      1
Name: count, Length: 3680, dtype: int64

In [9]:
distinct_values_floor_name = sample_df.groupby(['name', 'floor_number'], dropna=False).size().reset_index(name='count').sort_values(by='count',ascending=False)
distinct_values_floor_name

                          name  floor_number  count
13                Ground Floor           NaN  48725
12                 First Floor           1.0  26565
21  Oficinas primera planta_v2           2.0   7764
22  Oficinas segunda planta_v2           3.0   4115
9                 Espina 7 - 8           NaN   2482
19     Oficinas planta baja_v2           1.0   1735
8                Espina 57- 46           2.0   1207
23                  Pl Univers           NaN   1164
10         Exhibition Level -1          -1.0   1142
3            Bajo Espino y CC7           NaN   1078
11          Exhibition Level 0           NaN    968
15                        MJ 7           1.0    784
16          Medusa planta baja           NaN    427
17                     Nivel 1           1.0    392
5           CC2 Segunda planta           2.0    250
24              avenia 3 4 DNA           1.0    236
18                     Nivel 2           2.0    179
0                        AGORA           NaN    169
4                          CC1           3.0    154
2                  Avenida 2 3           NaN    122
6                  CC3 entrada           NaN    107
1                  Avenida 1-2           NaN     84
7                          EMR           2.0     81
20       Oficinas primer nivel           1.0     47
14            Italian Pavilion           NaN     23

In [10]:
sample_df['zone_levels_as_str'] = sample_df['zone_levels'].astype(str)
sample_df['path_as_str'] = sample_df['path'].astype(str)
distinct_values_locid_name = sample_df.groupby(['name', 'location_id','zone_levels_as_str','path_as_str'], dropna=False).size().reset_index(name='count').sort_values(by=['name','location_id'],ascending=False)
distinct_values_locid_name

,name,location_id,zone_levels_as_str,path_as_str,count
53,avenia 3 4 DNA,location-84366ac4,['001A.001B.001C'],['0000.0002.0003.000g.001o.001A.001B.001C'],222
54,avenia 3 4 DNA,location-84366ac4,[],['0000.0002.0003.000g.001o.001A.'],14
50,Pl Univers,location-e3751b1b,['000Y.001E.001F'],['0000.0002.0003.000S.000X.000Y.001E.001F'],955
51,Pl Univers,location-e3751b1b,['000Y.001E.001G'],['0000.0002.0003.000S.000X.000Y.001E.001G'],116
52,Pl Univers,location-e3751b1b,[],['0000.0002.0003.000S.000X.000Y.'],93
49,Oficinas segunda planta_v2,location-4d326e20,[],['0000.0002.0003.000S.000U.001e.'],4115
44,Oficinas primera planta_v2,location-800f38e4,['001d.001o.001p'],['0000.0002.0003.000S.000U.001d.001o.001p'],1315
45,Oficinas primera planta_v2,location-800f38e4,['001d.001o.001q'],['0000.0002.0003.000S.000U.001d.001o.001q'],2153
46,Oficinas primera planta_v2,location-800f38e4,['001d.001o.001r'],['0000.0002.0003.000S.000U.001d.001o.001r'],1438
47,Oficinas primera planta_v2,location-800f38e4,['001d.001o.001s'],['0000.0002.0003.000S.000U.001d.001o.001s'],352
48,Oficinas primera planta_v2,location-800f38e4,[],['0000.0002.0003.000S.000U.001d.'],2506
43,Oficinas primer nivel,location-c4c81f24,[],['0000.0002.0003.000S.0014.001c.'],47
42,Oficinas planta baja_v2,location-8f5d4204,[],['0000.0002.0003.000S.000U.001b.'],1735
40,Nivel 2,location-8f30d01c,['001a.001R.001S'],['0000.0002.0003.000S.0011.001a.001R.001S'],135
41,Nivel 2,location-8f30d01c,[],['0000.0002.0003.000S.0011.001a.'],44
38,Nivel 1,location-23721225,['001f.001T.001U'],['0000.0002.0003.000S.0011.001f.001T.001U'],183
39,Nivel 1,location-23721225,[],['0000.0002.0003.000S.0011.001f.'],209
37,Medusa planta baja,location-52fa3e39,[],['0000.0002.0003.000g.000w.000y.'],427
36,MJ 7,location-c14142a8,[],['0000.0002.0003.000S.0018.0019.'],784
35,Italian Pavilion,location-fb204f7a,[],['0000.0002.0003.000S.0016.0017.'],23
34,Ground Floor,location-e9bd22f9,[],['0000.0002.0003.000S.0014.0015.'],639
32,Ground Floor,location-dae70d2e,['000T.001H.001I'],['0000.0002.0003.000S.000U.000T.001H.001I'],195
33,Ground Floor,location-dae70d2e,[],['0000.0002.0003.000S.000U.000T.'],235
29,Ground Floor,location-cf617151,['000m.001r.001x'],['0000.0002.0003.000g.000h.000m.001r.001x'],5
30,Ground Floor,location-cf617151,['000m.001r.001y'],['0000.0002.0003.000g.000h.000m.001r.001y'],130
31,Ground Floor,location-cf617151,[],['0000.0002.0003.000g.000h.000m.'],2134
28,Ground Floor,location-bef98038,[],['0000.0002.0003.000g.000p.001i.'],12288
27,Ground Floor,location-9d5277cf,[],['0000.0002.0003.000g.000n.000o.'],359
26,Ground Floor,location-9b2b32c1,[],['0000.0002.0003.000g.000u.000v.'],2845
21,Ground Floor,location-97c974dc,['000W.001J.001K'],['0000.0002.0003.000S.000V.000W.001J.001K'],811
22,Ground Floor,location-97c974dc,['000W.001J.001L'],['0000.0002.0003.000S.000V.000W.001J.001L'],54
23,Ground Floor,location-97c974dc,['000W.001J.001M'],['0000.0002.0003.000S.000V.000W.001J.001M'],9
24,Ground Floor,location-97c974dc,['000W.001J.001N'],['0000.0002.0003.000S.000V.000W.001J.001N'],82
25,Ground Floor,location-97c974dc,[],['0000.0002.0003.000S.000V.000W.'],716
20,Ground Floor,location-728317b,[],['0000.0002.0003.000g.000q.000r.'],1924
19,Ground Floor,location-2bab7886,[],['0000.0002.0003.000g.000s.000t.'],24946
17,Ground Floor,location-1e43700b,['000l.001s.001v'],['0000.0002.0003.000g.000i.000l.001s.001v'],126
18,Ground Floor,location-1e43700b,[],['0000.0002.0003.000g.000i.000l.'],971
16,Ground Floor,location-14747c1,[],['0000.0002.0003.000g.000j.000k.'],256
15,First Floor,location-e5489c8c,[],['0000.0002.0003.000g.000u.000z.'],26565
12,Exhibition Level 0,location-aff38b17,['0013.001O.001P'],['0000.0002.0003.000S.0011.0013.001O.001P'],290
13,Exhibition Level 0,location-aff38b17,['0013.001O.001Q'],['0000.0002.0003.000S.0011.0013.001O.001Q'],149
14,Exhibition Level 0,location-aff38b17,[],['0000.0002.0003.000S.0011.0013.'],529
11,Exhibition Level -1,location-17772142,[],['0000.0002.0003.000S.0011.0012.'],1142
10,Espina 7 - 8,location-a09061e8,[],['0000.0002.0003.000g.000E.000R.'],2482
9,Espina 57- 46,location-8b38620d,[],['0000.0002.0003.000g.000E.000Q.'],1207
8,EMR,location-c2dc19ab,[],['0000.0002.0003.000g.000i.000P.'],81
7,CC3 entrada,location-3491a030,[],['0000.0002.0003.000g.000K.000L.'],107
6,CC2 Segunda planta,location-83bbd948,[],['0000.0002.0003.000g.000I.000J.'],250
5,CC1,location-198fa09d,[],['0000.0002.0003.000g.000G.000H.'],154
4,Bajo Espino y CC7,location-100b2f0f,[],['0000.0002.0003.000g.000E.000F.'],1078
2,Avenida 2 3,location-ddc117fc,['000D.001q.001w'],['0000.0002.0003.000g.000C.000D.001q.001w'],39
3,Avenida 2 3,location-ddc117fc,[],['0000.0002.0003.000g.000C.000D.'],83
1,Avenida 1-2,location-253d94f7,[],['0000.0002.0003.000g.000A.000B.'],84
0,AGORA,location-8928c039,[],['0000.0002.0003.000S.000Z.0010.'],169

According to the information they gave me and from visual inspection, I think that the `slug` (a field needed later for joining the observations to their corresponding polygon) is obtained as the last part of the last string in the list contained in the field `path`. 

I try a function in the sample dataframe. Some observations end with ".", and I think that those do not correspond to the SÃ³nar. I label those cases explicitly.

In [11]:
# Create DataFrame
sample_df

# Use numpy vectorized operation
def slug_from_path(path_column):
    # Convert the string representation of the list into actual lists
    path_list = np.array(path_column)
    # Extract the last item from each list
    last_strings = [lst[-1] if len(lst) > 0 else '' for lst in path_list]
    # Extract the last segment after the last dot in each string
    slug = ['ends_with_point' if s.endswith('.') else s.split('.')[-1] for s in last_strings]
    return slug

# Assign the new column
sample_df['slug'] = slug_from_path(sample_df['path'])
sample_df

,cell,cell_coordinates,client_coordinates,client_ipaddr,client_latitude,client_longitude,client_roll,client_username,client_xy_coordinates,confidence_factor,...,visit_id,wdp_floor_id,zone_levels,zones_id,anonymized_macaddr,macaddr_randomized,vendor_name,zone_levels_as_str,path_as_str,slug
0,4291204580560,"41.37343701985534,2.152411182412531","41.37357791098885,2.1525216172600397",10.93.131.17,41.373578,2.152522,NaN,None,"112,169.7",64.0,...,visit-2878931198025351461,44bbfdef-41d8-421a-8775-b742a89f9136,[000Y.001E.001F],[f10d8100-ef6d-468b-acc4-09f8497cac7c],eb9a3a265d543758733d0631ff3298f02441b2bb1784bb...,1,None,['000Y.001E.001F'],['0000.0002.0003.000S.000X.000Y.001E.001F'],001F
1,4274804578820,"41.35761937221511,2.1330101228060645","41.35762750175618,2.1330771403851623",10.33.8.201,41.357628,2.133077,NaN,None,"333.2,232.2",40.0,...,visit-6108473270290434404,11e594cf-47f5-47ea-9804-557e86ad7422,[],None,c71cffdc6b97dfee060558bf0bf381075b34ff0a9eb277...,1,None,[],['0000.0002.0003.000g.000s.000t.'],ends_with_point
2,4290404580540,"41.37324983687884,2.151456977505442","41.37335865635241,2.1516626585456895",10.93.131.38,41.373359,2.151663,NaN,None,"358.9,203.9",128.0,...,visit-5034339734903319000,44bbfdef-41d8-421a-8775-b742a89f9136,[000Y.001E.001F],[f10d8100-ef6d-468b-acc4-09f8497cac7c],e2c4b71b708e80e715a2b6c725ca93bff81d28afce5943...,1,None,['000Y.001E.001F'],['0000.0002.0003.000S.000X.000Y.001E.001F'],001F
3,4278404578660,"41.356210648244144,2.137332548745098","41.35635670490924,2.1374764349553788",None,41.356357,2.137476,NaN,None,"101.5,88.2",32.0,...,visit--1,bcb6b78f-200c-4bc8-93f2-fb06b4e0f31e,[],None,9955eaf4f0b351518f737625d6f9a815cb0120e51a5abe...,0,Intel Corporate,[],['0000.0002.0003.000g.000u.000z.'],ends_with_point
4,4275204578720,"41.35672230896424,2.1335002237455507","41.35675194450287,2.1337217515382854",10.33.18.6,41.356752,2.133722,NaN,None,"700,221.7",32.0,...,visit-6964548436626391338,11e594cf-47f5-47ea-9804-557e86ad7422,[],None,926d4c8781e7242ad78682b94b2d1909df338782226ec9...,1,None,[],['0000.0002.0003.000g.000s.000t.'],ends_with_point
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4274004578740,"41.356891632058534,2.1320633860843365","41.356930522445715,2.1320890006895254",10.33.2.246,41.356931,2.132089,NaN,None,"319.6,165.9",32.0,...,visit-1092682443092512057,c6f13d53-164b-47a5-890e-8c7331389100,[],None,38f01950eb7f1e70aaf7e60cf9fccab569a9fec78a275f...,1,None,[],['0000.0002.0003.000g.000p.001i.'],ends_with_point
99996,4278004578620,"41.355846796683096,2.136859163441521","41.35588535760981,2.1369334627710184",10.33.3.199,41.355885,2.136933,NaN,None,"180.1,306.7",72.0,...,visit-9176399553934226916,bcb6b78f-200c-4bc8-93f2-fb06b4e0f31e,[],None,6a5db9067e60ffd4c4228a6bbee22162a16dce1e4d5a12...,1,None,[],['0000.0002.0003.000g.000u.000z.'],ends_with_point
99997,4278004578640,"41.35602692980924,2.1368567836020147","41.35610580291032,2.1370284031011755",10.33.16.149,41.356106,2.137028,NaN,None,"123.2,243.7",48.0,...,visit-8056765961774462430,bcb6b78f-200c-4bc8-93f2-fb06b4e0f31e,[],None,4adadd9a1b5bbc8df70dfe665fab892fbcbcbbd32c5c80...,1,None,[],['0000.0002.0003.000g.000u.000z.'],ends_with_point
99998,4277804578640,"41.35602513641843,2.1366177117913203","41.35609304227661,2.1367987355370723",10.33.22.201,41.356093,2.136799,NaN,None,"98.1,302.6",48.0,...,visit-8548297060232230374,bcb6b78f-200c-4bc8-93f2-fb06b4e0f31e,[],None,6eb277803d60a563baca11eda39f47be2ef3c81d12c07f...,1,None,[],['0000.0002.0003.000g.000u.000z.'],ends_with_point
99999,4277804578640,"41.35602513641843,2.1366177117913203","41.35609304227661,2.1367987355370723",10.33.22.201,41.356093,2.136799,NaN,None,"98.1,302.6",48.0,...,visit-8548297057777645019,bcb6b78f-200c-4bc8-93f2-fb06b4e0f31e,[],None,6eb277803d60a563baca11eda39f47be2ef3c81d12c07f...,1,None,[],['0000.0002.0003.000g.000u.000z.'],ends_with_point

In [12]:
# Removing the sample df to clear memory
del sample_df, categorical_cols, col, value_counts, counts
gc.collect()

0

# Sequentially rewriting a reduced and organized version of each file

To avoid operating with large files with unnecessary columns and to organize them before reading them with other tools, I rewrite a reduced version of the files (in csv).

In [14]:
# Specifying the desired column order
def rewrite_all_files(read_path, write_path, selected_columns):
    
    # Function to read, select and reorder columns for each file
    def reduce_rewrite_file(file_name, selected_columns):

        df = pd.read_json(os.path.join(read_path, file_name), lines=True, convert_dates=False)
        df['slug'] = slug_from_path(df['path']) # Obtaining the slug with the function defined above
        df = df[selected_columns] # Selection and reordering of the columns to match the desired order
        
        # Renaming columns to avoid confusions
        # According to what I was told, the timestamp column corresponds to
        # the time when the observation was received by the Wizzie system,
        # while last_seen corresponds to the time when the observation was
        # received by the access point (AP). I rename the columns accordingly.
        # timestamp_ap (last seen) is likely the one I need.
        df = df.rename(columns={'name':'location_name',
                                'timestamp':'timestamp_wizzie',
                                'last_seen':'timestamp_ap'})
        

        output_file_name = file_name.replace('anonymized_', 'reduced_').replace('.ndjson', '.csv')

        df.to_csv(os.path.join(write_path, output_file_name), index=False)


    # Iterating over the list files
    for i, file in enumerate(os.listdir(read_path)):

        # Executing the function
        reduce_rewrite_file(file_name=file, selected_columns=selected_columns)

        print(f'Rewrote file {i}')

    print('Finished rewriting the files.')

To avoid unnecessary memory overload, I first "filter" the dataframes, so that they contain only the possibly useful information. 
- With respect to the coordinates, after a manual check in a different file (in `Pruebas rÃ¡pidas/Prueba coordenadas celdas h3.ipynb`), I concluded that using only the h3_cell is best thing.
- According to what I was told, `device_id` corresponds to the AP (access point), so only the (anonymized) macaddr is needed
- There are some [categorizations of RSSI](https://wiki.teltonika-networks.com/view/RSSI), which might diverge to the one that is stored.

In [15]:
desired_columns = ['anonymized_macaddr', 'macaddr_randomized',
                   'last_seen',
                   'h3_cell',
                   'client_latitude',
                   'client_longitude',
                   #'floor_number',
                   'timestamp', 
                   'name',# 'location_id',
                   'slug', # The variable obtained from 'path'
                   'rssi',
                   'confidence_factor',
                   'vendor_name']

In [16]:
rewrite_all_files(read_path=path_locations, 
                  write_path=path_locations_reduced,
                  selected_columns=desired_columns)

Rewrote file 0
Rewrote file 1
Rewrote file 2
Rewrote file 3
Rewrote file 4
Rewrote file 5
Rewrote file 6
Rewrote file 7
Rewrote file 8
Rewrote file 9
Rewrote file 10
Rewrote file 11
Rewrote file 12
Rewrote file 13
Rewrote file 14
Rewrote file 15
Rewrote file 16
Rewrote file 17
Rewrote file 18
Rewrote file 19
Rewrote file 20
Rewrote file 21
Rewrote file 22
Rewrote file 23
Rewrote file 24
Rewrote file 25
Rewrote file 26
Rewrote file 27
Rewrote file 28
Rewrote file 29
Rewrote file 30
Rewrote file 31
Rewrote file 32
Rewrote file 33
Rewrote file 34
Rewrote file 35
Rewrote file 36
Rewrote file 37
Rewrote file 38
Rewrote file 39
Rewrote file 40
Rewrote file 41
Rewrote file 42
Rewrote file 43
Rewrote file 44
Rewrote file 45
Rewrote file 46
Rewrote file 47
Rewrote file 48
Rewrote file 49
Rewrote file 50
Rewrote file 51
Rewrote file 52
Rewrote file 53
Rewrote file 54
Rewrote file 55
Rewrote file 56
Rewrote file 57
Rewrote file 58
Rewrote file 59
Rewrote file 60
Rewrote file 61
Rewrote file 62
Rewrote file 63
Rewrote file 64
Rewrote file 65
Rewrote file 66
Rewrote file 67
Rewrote file 68
Rewrote file 69
Rewrote file 70
Rewrote file 71
Rewrote file 72
Rewrote file 73
Rewrote file 74
Rewrote file 75
Rewrote file 76
Rewrote file 77
Rewrote file 78
Rewrote file 79
Rewrote file 80
Rewrote file 81
Rewrote file 82
Rewrote file 83
Rewrote file 84
Rewrote file 85
Rewrote file 86
Rewrote file 87
Rewrote file 88
Rewrote file 89
Rewrote file 90
Rewrote file 91
Rewrote file 92
Rewrote file 93
Rewrote file 94
Rewrote file 95
Rewrote file 96
Rewrote file 97
Rewrote file 98
Rewrote file 99
Rewrote file 100
Rewrote file 101
Rewrote file 102
Rewrote file 103
Rewrote file 104
Rewrote file 105
Rewrote file 106
Rewrote file 107
Rewrote file 108
Rewrote file 109
Rewrote file 110
Rewrote file 111
Rewrote file 112
Rewrote file 113
Rewrote file 114
Rewrote file 115
Rewrote file 116
Rewrote file 117
Rewrote file 118
Rewrote file 119
Rewrote file 120
Rewrote file 121
Rewrote file 122
Rewrote file 123
Rewrote file 124
Rewrote file 125
Rewrote file 126
Rewrote file 127
Rewrote file 128
Rewrote file 129
Rewrote file 130
Rewrote file 131
Rewrote file 132
Rewrote file 133
Rewrote file 134
Rewrote file 135
Rewrote file 136
Rewrote file 137
Rewrote file 138
Rewrote file 139
Rewrote file 140
Rewrote file 141
Rewrote file 142
Rewrote file 143
Rewrote file 144
Rewrote file 145
Rewrote file 146
Rewrote file 147
Rewrote file 148
Rewrote file 149
Rewrote file 150
Rewrote file 151
Rewrote file 152
Rewrote file 153
Rewrote file 154
Rewrote file 155
Rewrote file 156
Rewrote file 157
Rewrote file 158
Rewrote file 159
Rewrote file 160
Rewrote file 161
Rewrote file 162
Rewrote file 163
Rewrote file 164
Rewrote file 165
Rewrote file 166
Rewrote file 167
Rewrote file 168
Rewrote file 169
Rewrote file 170
Rewrote file 171
Rewrote file 172
Rewrote file 173
Rewrote file 174
Rewrote file 175
Rewrote file 176
Rewrote file 177
Rewrote file 178
Rewrote file 179
Rewrote file 180
Rewrote file 181
Rewrote file 182
Rewrote file 183
Rewrote file 184
Rewrote file 185
Rewrote file 186
Rewrote file 187
Rewrote file 188
Rewrote file 189
Rewrote file 190
Rewrote file 191
Rewrote file 192
Rewrote file 193
Rewrote file 194
Rewrote file 195
Rewrote file 196
Rewrote file 197
Rewrote file 198
Rewrote file 199
Rewrote file 200
Rewrote file 201
Rewrote file 202
Rewrote file 203
Rewrote file 204
Rewrote file 205
Rewrote file 206
Rewrote file 207
Rewrote file 208
Rewrote file 209
Rewrote file 210
Rewrote file 211
Rewrote file 212
Rewrote file 213
Rewrote file 214
Rewrote file 215
Rewrote file 216
Rewrote file 217
Rewrote file 218
Rewrote file 219
Rewrote file 220
Rewrote file 221
Rewrote file 222
Rewrote file 223
Rewrote file 224
Rewrote file 225
Rewrote file 226
Rewrote file 227
Rewrote file 228
Rewrote file 229
Rewrote file 230
Rewrote file 231
Rewrote file 232
Rewrote file 233
Rewrote file 234
Rewrote file 235
Rewrote file 236
Rewrote file 237
Rewrote file 238
Rewrote file 239
Rewrote file 240
Rewrote file 241
Rewrote file 242
Rewrote file 243
Rewrote file 244
Rewrote file 245
Rewrote file 246
Rewrote file 247
Rewrote file 248
Rewrote file 249
Finished rewriting the files.